body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #ffef00 0%,
        #ffef00 30%,
        #E3CCB2 30%,
        #E3CCB2 100%
    ); 
    }
    .logo {
    text-indent: -999999px;
    background: url("./Webisite%20pics/logo.png");
    width: 960px;
    height: 132px;
    display:block;
    margin: auto;
    justify-content: center;
    align-items:center;   }
    h1{
        padding: 0;
        margin: 0;
        color: #ed2cb4;
        font-size: 1cm;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #CONTENT {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
    
    #aboutme {
        font-size: xx-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(0, 30, 255);
    }
   